<h1>Bienvenidos de nuevo</h1>
<p>Gracias por volver a tu sitio favorito, por favor llenar el formulario</p>
<form [formGroup] = "loginForm" (ngSubmit) = "auntenticate()">
    <div class="login-form-input">
        <label for="">Email*:</label>
        <input type="email" placeholder="Email" formControlName="email">
        <small class="bg-danger text-light mt-1 px-2 py-1 rounded"
            *ngIf="(fm['email'].dirty || fm['email'].touched) && fm['email'].errors && loginSubmitted">
            <ng-container [ngSwitch] = "fm['email'].value" >
                <ng-container *ngSwitchCase="''">El email es requerido</ng-container>
                <ng-container *ngSwitchDefault>El email es invalido</ng-container>
            </ng-container>
        </small>
    </div>
    <div class="login-form-input">
        <label for="">Contraseña*:</label>
        <input type="password" placeholder="Contraseña" formControlName="password">
        <small class="bg-danger text-light mt-1 px-2 py-1 rounded"
        *ngIf="(fm['password'].dirty || fm['password'].touched) && fm['password'].errors && loginSubmitted">
        <ng-container [ngSwitch] = "fm['password'].value" >
            <ng-container *ngSwitchCase="''">La contraseña es requerida</ng-container>
            <ng-container *ngSwitchDefault>La contraseña es invalida</ng-container>
        </ng-container>
    </small>
    </div>
    <small>Olvidé contraseña</small>
    <div class="login-form-buttons">
        <button class="login-form-buttons__signup" >Registrarse</button>
        <button class="login-form-buttons__signin" type="submit">Iniciar sesión</button>
    </div>
</form>
