.login-form-content h1{
    font-size: 2.75rem;
    color: #655C5C;
    font-weight: 600;
    margin-bottom:0.5rem;
}

.login-form-content p{
    color: #655C5C;
    opacity: 0.6;
    max-width: 350px;
    margin-bottom: 3rem;
}


.login-form-content small{
    display: block;
    width: 100%;
    text-align: right;
    opacity: 0.7;
    margin-bottom: 3rem;
}

.login-form-content small:hover{
    opacity: 0.9;
    cursor: pointer;
}
    
    .login-form-input{
        display: flex;
        flex-direction: column;
        margin-bottom:2rem;
    }

    .login-form-input label{
        font-weight: 400;
        color:black;
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
    }

    .login-form-input input{
        height: 50px;
        border: 1px solid #7D051D;
        padding-left: 1rem;
        opacity: 0.9;
        background: none;
        outline: none;
        color: #7D051D;
    }

    .login-form-input input:focus{
        border-left: 5px solid #7D051D;
    }

    .login-form-input input:active{
        border-left: 5px solid #7D051D;
    }

    .login-form-input input:webkit-autofill{
        box-shadow: 0 0 0 30px white inset !important;
    }

    .login-form-buttons{
        float: right;
        margin-bottom: 3rem;
    }

    .login-form-buttons__signup{
        height:50px;
        min-width: 170px;
        border: 1px solid #7D051D;
        color: #7D051D;
        box-shadow:1px 1px 6px 0 rgba(0, 0, 0, 0.3);
        transition:0.5s all ease-in-out;
        background:#fff;
        margin-left: 1rem;
    }

    .login-form-buttons__signup:hover{
        cursor: pointer;
        background: #7D051D;
        color: #fff;
    }

    .login-form-buttons__signin{
        height:50px;
        min-width: 170px;
        border: none;
        box-shadow:1px 1px 6px 0 rgba(0, 0, 0, 0.3);
        transition:0.5s all ease-in-out;
        background:#7D051D;
        color:#fff;
    }

    .login-form-buttons__signin:hover{
        cursor: pointer;
        border: 1px solid #7D051D;
        background: #fff;
        color: #7D051D;
    }

    .login-form-buttons__signin:disabled{
        opacity: 0.5;
    }

    @media(max-width:768px){

        .login-form-content h1{
            font-size: 1.5rem
        }
    
        .login-form-content p{
            margin-bottom: 2rem;
        }
    
        .login-form-input input{
            height:40px;
        }
    
        .login-form-buttons{
            float: right;
        }

        
    
    
    .login-form-buttons__signin{
        height:40px;
        min-width: 100px;
    }

    .login-form-buttons__signup{
        height:40px;
        min-width: 100px;
    }
    }