<div class="row">
    <div class="text-success col-12 my-5">
        <app-title-h1 [text] = "title"></app-title-h1>
    </div>
    <div class="col-12" *ngIf="currentUser">
        <div class="row">
            <div class="col-12 col-md-6 col-xl-3 mb-4 text-center">
                <img class="dsc-user-img" [src]="currentUser.avatar" alt="">
            </div>
            <div class="col-12 col-md-6 xl-9 pl-4">
                <h2 class="text primary border-bottom pb-3">Detalle de {{currentUser.name}} </h2>
                <h3 class="text-secondary">Edad: {{currentUser.age}} </h3>
                <h3 class="text-secondary">Trabajo: {{currentUser.work ? currentUser.work : '......'  }} </h3>
                <p>Descripcion: {{currentUser.description}} </p>
            </div>
        </div>
    </div>
    
</div>
<h1>
    Este es el id: {{id}}
</h1>
