/*
$primary:#7D051D;
$second:#655C5C;
*/

    .login-container{
        width:100%;
        height:100vh;
        min-height: 800px;
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    .login-form{
        width: 60%;
        min-width: 300px;
        min-height: 700px;
        background: #fff;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding:0 3rem;
        
    }

    .login-form-logo{
        height:50px;
        margin-top: 3rem;
    }

    .login-form-content{
        width:100%;
        margin:1.5rem 0;
    }



    .login-form-footer{
        width: 100%;
        display: flex;
        justify-content:space-between;
        align-items:center;
        margin-bottom: 3rem;
    }

    .login-form-footer__links{
        margin-bottom: 1rem;
    }

    .login-form-footer__links a{
        margin-right: 1rem;
        color: #7D051D;
        text-decoration: none;
    }

    .login-form-footer__links a:hover{
        cursor: pointer;
        font-weight: 600;
    }

    .login-form-footer__socials_social{
        font-size: 2rem;
        color: #7D051D;
        margin-left: 1rem;
    }

    .login-form-footer__socials_social a:hover{
        opacity: 0.9;
        transform: scale(1.05);
        cursor: pointer;
    }

@media(max-width:768px){
    .login-container{
        display:flex;
        min-height: 750px;
        align-items: center;
        justify-content: center;
        box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.3);
        padding: 1rem 0;
    }

    .login-form{
        width: calc(90% - 3rem);
        padding: 1rem;
        height: fit-content;
    }

    .login-form-logo{
        height:30px;
    }

    .login-form-content{
        width: 100%;
        margin: 2rem 0 1rem 0;
    }


    .login-form-footer{
        flex-direction: column;
    }
}