<div class="login-container">
    <div class="login-form">
        <img src="" alt="LOGO" class="login-form-logo">
        <div class="login-form-content" app-login-form>
        </div>
        <div class="login-form-footer">
            <div class = "login-form-footer__links">
                <a href="">Acerca de</a>
                <a href="">Contactanos</a>
                <a href="">Blog</a>
            </div>
        </div>
        <div class="login-form-footer__socials">
            <i class = "fab fa-facebook-square login-form-footer__socials_social"></i>
            <i class = "fab fa-twitter-square login-form-footer__socials_social"></i>
            <i class = "fab fa-instagram-square login-form-footer__socials_social"></i>
        </div>
    </div>
</div>