<div class="desc-navigation">
    <img [src]="src" alt="logo" height="30px">
    <div>
        <button class="btn btn-primary" routerLink="/panel/user">Lista Usuarios</button>
        <!--<button class="btn btn-primary" routerLink="/panel/user">Detalles Usuarios</button>-->
    </div>
</div>
