.dsc-card{
    height: 200px;
    max-width: 350px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.15);
    padding: 0.5rem;
    display: flex;
    align-items: center;
    border-left: 4px solid rgba(35, 94, 221);
    transition: 0.7s all ease-in-out;
    margin: 1rem auto;
}

.dsc-card:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.dsc-card_img{
    height: 100px;
    width: 100px;
    padding: 0.5rem;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.15);
}

.dsc-card_info{
    border-left: 1px solid rgba(0,0,0,0.25);
    padding: 0.5rem;
}
p{
    opacity: 0.5;
    margin: 0;
}