<div class="dsc-card" *ngIf="data" routerLink="/panel/user/detail/{{data.id}}">
    <div class="dsc-card_img">
        <img [src]="data.avatar" alt="avatar" width="70px">
    </div> 
    <div class="dsc-card_info">
        <h2> {{data.name}} </h2>
        <h4> <b>Edad:</b> {{data.age}} </h4>
        <p> <b>Descripcion:</b> {{data.description}} </p>
        <p *ngIf="data.work"> {{data.work}} </p>
    </div>
    <div class="msgUser">
        <p></p>
    </div>
</div>
