<div class="row">
    <div class="col-lg-12">
        <app-title-h1 type="danger" [text] = "title"></app-title-h1>
    </div>
    <app-card-user [data] = "user" *ngFor="let user of users" class="col-12 col-md-6 col-xl-3"></app-card-user>

</div>



